%div.container
  %div.col-md-4
  %div.col-md-4
    %h1.text-center About
    %p.text-center Get organized and increase productivity with your team
  %div.col-md-4
%div.container
  %div.col-md-6.col-md-offset-3
    %img.pic.img-responsive{src:"http://localhost:3000/assets/meeting.png"}
