%div.container.title
  %div.col-md-4
  %div.col-md-4
    %h1.text-center About
    %p.text-center Get organized and increase productivity with your team
    %img{src: "http://pixabay.com/static/uploads/photo/2013/07/12/17/49/meeting-152506_640.png"}
  %div.col-md-4
%div.container.title
