%div.container.title
  %div.col-md-4
  %div.col-md-4
    %h1.text-center About
    %p.text-center Get organized and increase productivity with your team
    = image_tag('meeting.png')
  %div.col-md-4
%div.container.title
