<!-- Main jumbotron for a primary marketing message or call to action -->
%div.container.indextitle
  %div.col-md-4
  %div.col-md-4
    %h1.text-center gCamp
    %p.text-center Your Life, Organized
  %div.col-md-4

%div.container
  <!-- Example row of columns -->
  %div.row
    %div.col-md-4
      /%img.pic{src:"https://farm4.staticflickr.com/3784/10788864133_9c2902226c_n.jpg"}

      %div.panel.panel-info
        %div.panel-heading
          %h3.panel-title Tasks
        %div.panel-body Grouped by projects and lists.  Just the way you like'em

    %div.col-md-4
      /%img.pic{src:"https://farm7.staticflickr.com/6101/6852546666_936aa6e5ed_n.jpg"}

      %div.panel.panel-info
        %div.panel-heading
          %h3.panel-title Documents

        %div.panel-body
          %ul
            %li Upload
            %li Comment
            %li Revise

    %div.col-md-4
      /%img.pic{src:"https://farm3.staticflickr.com/2241/2318978643_7752052a97_n.jpg"}
      %div.panel.panel-info
        %div.panel-heading
          %h3.panel-title Comments

        %div.panel-body
          %ul
            %li Comment on tasks and documents
            %li Get email notifications

    %div.container.row

    %div.container.row
      %div.quotes
        - quotes = [@tolkien, @wilde, @twain]
        - quotes.each do |quote|
          %h3.quote
            = quote.text
          %h4.quote
            = quote.person
