.container

  = link_to "Create New Project", new_project_path, :class => "btn btn-primary pull-right new-task"

  .page-header
    %h1 Projects

    %table.table
      %thead
        %tr
          %th
            Name
      %tbody
      - @projects.each do |project|
        %tr
          %td
            = link_to project.name, project_path(project)
