@import bootstrap-sprockets
@import bootstrap

body
  background-color: #333333
  color: white
  margin-top: 50px

body.pic
  background: url(https://farm8.staticflickr.com/7006/6624374227_c5c77be1fa_b.jpg) no-repeat center center fixed
  background-size: cover

img.pic
  margin-bottom: 20px

div.container.jumbotron
  font-size: 80px
  margin-top: 100px
  margin-bottom: 200px
  background-color: transparent
  color: white


div.container.title p
  font-family: sans-serif
  font-size: 20px


h3.quote
  color: white

h4, h5
  color: #C8C8CC

div.quotes
  margin-left: 15px

div.faq
  margin-top: 60px
  margin-left: 55px

.navbar-footer
  margin-bottom: 0px

.btn.pull-right
  margin-left: 20px

input
  color: black

hr
  margin-top: 0px

table.table
  margin-bottom: 0px

.navbar.navbar-inverse.footer
  margin-top: 20px
  margin-bottom: 0px

li.inactive
  padding: 15px
  display: block
  color: orange

.btn.new-task
  margin-top: 25px

.panel-body
  color: black

.social
  width: 2em

.gschool
  width: 4em

.nav.navbar-nav.navbar-right li a
  padding: 15px 5px

.sort
  margin-top: 30px

.userform
  margin-left: 195px

.well.col-md-4.col-md-offset-1
  margin-top: 20px

.form-control
  width: 105%

.well.signup
  margin-top: 100px
  margin-bottom: 80px
  color: black

  h1
    margin-bottom: 20px
    margin-top: 0px

  .form-control
    width: 90%
    margin-left: 15px

li.error
  color: red

p.error
  color: red

.btn.signin
  margin-left: 15px
  margin-top: 30px

.btn.signup
  margin-top: 10px

.form-group.signup-name

  .control-label
    margin-left: 15px

.edituser
  padding: 0px

td.delete a
  color: white

  span
    margin-left: 30px
    margin-top: 10px

.table-condensed
  tbody
    tr
      td.fix
        padding: 5px 5px 5px 0px

.btn.project-edit
  margin-top: 23px

.form-control.comment-text
  width: 74%
  color: black

.no-padding
  padding: 0px
  word-wrap: break-word

.col-md-3.slim
  width: 24.5%

.black
  color: black
