/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import bootstrap-sprockets
@import bootstrap


body
  background: url(https://farm8.staticflickr.com/7006/6624374227_c5c77be1fa_b.jpg) no-repeat center center fixed
  background-size: cover


div.container.indextitle
  padding-top: 100px
  padding-bottom: 200px
  color: white


div.container.title
  padding-top: 100px
  padding-bottom: 10px
  color: white


div.container.indextitle h1
  font-family: Garamond
  font-size: 80px


div.container.title p
  font-family: sans-serif
  font-size: 20px


footer
  font-size: 20px
  font-family: sans-serif
  color: white


div.container.footbar
  height: 2px
  background-color: white

h3.quote
  color: white

h4, h5
  color: #C8C8CC

div.quotes
  margin-left: 15px

div.faq
  margin-top: 60px
  margin-left: 55px
