// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.test {
  margin-top: 60px;
  margin-bottom: 30px;
}

div.test h1 {
  color: white;
}

div.test tr {
  color: white;
}

div.test p {
  color: white;
}
